<!DOCTYPE html>
<html lang="en" xmlns:th="https//ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form1</title>
</head>
<body>
<h2>Bước 1: Thông tin cá nhân</h2>

<form th:action="@{/form/form1}" method="post" th:object="${form}">
    <input type="text" th:field="*{fullName}" placeholder="Họ tên"><br>
    <input type="email" th:field="*{email}" placeholder="Email"><br>
    <input type="text" th:field="*{phone}" placeholder="SĐT"><br>
    <button type="submit">Tiếp</button>
</form>

</body>
</html>